#noticias
  display: flex
  justify-content: center
  padding-top: 50px
  margin-bottom: 50px
  @media (max-width: 950px)
    flex-direction: column
    flex-wrap: wrap
    
  .texto-container
    .topic-article-content
      position: relative
      max-width: none
      padding: 0!important
      color: #757575
      font-size: 1.1em
    h3
      margin-top: 0!important
      font-size: 24px
      font-weight: 400
      color: #4f5353
    a.btn
      color: #FFF
      margin-top: 20px

  .media-container
    flex: 1
    padding: 0 0 0 50px
    iframe
      border: none
      @media (max-width: 1220px)
        width: 360px
        height: 224px
    .media-img
      height: 400px
      width: 100%
      background-size: contain
      background-position: center
      background-repeat: no-repeat
  @media (max-width: 950px)
    .media-container
      margin-top: 10px
      padding: 0 0 0 0px

  .iframe
    flex: 1
    padding: 0 0 0 50px
    iframe
      border: none
      @media (max-width: 1220px)
        width: 360px
        height: 224px
  @media (max-width: 950px)
    .iframe
      margin-top: 10px
      padding: 0 0 0 0px

  
