.consultas-topic-card
  @import '../../topic-layout/topic-article/poll/styles'

  width: 500px

  .topics-poll
    flex-grow: 2
    margin-bottom: 0
    button
      margin-bottom: 10px
  .topic-card-footer-container
    width: 100%
    align-self: flex-end

  .poll-participants
    font-size: .9em
    color: #a5a9aa

  .topic-time
    font-size: .9em
    color: #a5a9aa
    .icon-clock
      font-size: .8em


  .card2030
    border-top: 4px solid #f59231 !important

  .label2030
    color: #f59231
    display:inline-block !important
    margin-bottom: 0px !important

  .no2030
    visibility: hidden


  .topic-card-footer
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    padding-top: .8em
    width: 100%
    border-top: 1px solid #ddd

    [class*="icon-"]
      position: relative
      top: 1px

    a
      color: #00adef
      font-weight: 400

      &:hover
        color: #3dacf1

  .social-links
    font-size: 20px

    span
      margin-right: 7px
      color: #999

    .fb
      width: 30px
      height: 20px
      background-size: auto 20px
      background-repeat: no-repeat
      background-position: center
      display: inline-block
      background-image: unquote("url('/ext/lib/site/topic-layout/fb-icon-gris.svg')")
      fill: #999

    .wp
      width: 18px
      height: 18px
      background-size: contain
      background-repeat: no-repeat
      background-position: center
      display: inline-block
      margin: 0 0 0 2px
      background-image: unquote("url('/ext/lib/site/topic-layout/whatsapp-logo-gris.svg')")
        

