
#forgot-form
  @import '../sign-in/btn-google'
  
  max-width 350px
  width 90%
  .success-message
    background #afffaf
    color #555
    padding 10px 20px
  .explanation-message
    background #f3f3f3
    padding 10px 20px
    color #555
  .error-message
    margin 0 0 15px 0
    background #ffc5c5
    color #961010
    padding 10px 20px

  .btn-facebook
    color: #fff
    background: #3b5998
    background: unquote("linear-gradient(to bottom, #3b5998, #314b80)")

    i
      font-size: 1.3em
      line-height: 0
      position: relative
      top: .1em
      margin-right: .3em

    &:hover
      opacity .9
      color #f7f7f7

    &:active
      opacity: 1
      color: #f7f7f7
      box-shadow: inset 0 0 8px rgba(#082665, .6)