#forgot-form
  max-width 350px
  width 90%
  .success-message
    background #afffaf
    color #555
    padding 10px 20px
  .explanation-message
    background #f3f3f3
    padding 10px 20px
    color #555
  .error-message
    margin 0 0 15px 0
    background #ffc5c5
    color #961010
    padding 10px 20px
