.desafios-topic-card
  width: 350px

  .topic-card-info
    padding-bottom: 0
    padding-top: 10px

  .card2030
    border-top: 4px solid #f59231

  .fecha
    margin-bottom: 0
    font-size: 12px
    font-weight: 400
    color: #a5a9aa

  .participants
    font-weight: 400
    color: #a5a9aa
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: row-reverse

  .topic-card-footer
    padding: 15px

  .no2030
    visibility: hidden

  .pie2030
    color: #f59231
    display:inline-block !important
    margin-bottom: 0px !important
    font-size: 18px !important

  .quiero2030
    background-color: #f59231
    border-color: #f59231

