
.update-stage
	.error-message
		width 100%
		p
			display inline-block
			background #ffc5c5
			color #961010
			padding 10px 5px
			margin 0 0 15px 0
			font-size 14px
			border-radius 2px
	.success-message
		width 100%
		p
			display inline-block
			background #27ae60
			color #fff
			padding 10px 5px
			margin 0 0 15px 0
			font-size 14px
			border-radius 2px
.wrapper-select
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	align-items: baseline
	@media (max-width: 425px)
		justify-content: center
	div
		@media (max-width: 425px)
			display: flex
			justify-content: center
			flex-wrap: wrap
		.stage-label
			font-size: 16px
			font-weight: normal
			line-height: 1.4
			margin-right: 10px
			@media (max-width: 425px)
				text-align: center
		.select-stage
			background-color: #FFF
			border-radius: 2px
			height: 34px
			@media (max-width: 425px)
				margin-bottom: 5px

	.formcierre
		display: inline-flex !important
	.datecierre
		margin-right: 10px !important
	.cierreoculto
		display:none

	.fuente
		font-size: 12px !important
		webkit-box-shadow: 10px 10px 5px -2px rgba(214,211,214,0.8) !important
		moz-box-shadow: 10px 10px 5px -2px rgba(214,211,214,0.8) !important
		box-shadow: 10px 10px 5px -2px rgba(214,211,214,0.8) !important

.react-datepicker__time-list
	padding: 2 !important

.react-datepicker__close-icon
	right: 20px !important
	position: relative !important

.react-datepicker-popper
	z-index: 10 !important
    

.react-datepicker__day--outside-month
	color: #A4A4A4 !important

.react-datepicker__header
	border-bottom: 2px solid #f59231 !important

.react-datepicker
	border: 2px solid #1daeec !important

.react-datepicker__day:hover
	background-color: #1daeec !important

.react-datepicker__current-month
	font-size: 12px !important
	color: #1daeec !important

.react-datepicker__navigation--previous
	border-right-color: #1daeec !important

.react-datepicker__navigation--next
	border-left-color: #1daeec !important

.react-datepicker__triangle:before
	border-bottom-color: #1daeec !important