.slick-slider, .slick-initialized, .slick-slide, .slick-active, .slick-list, .slick-cloned
  @media screen and (min-width: 1200px)
    max-height: 600px !important
    margin-bottom: 100px !important
  @media screen and (max-width: 1200px)
    max-height: 600px !important
  @media screen and (max-width: 1100px)
    max-height: 500px !important
  @media screen and (max-width: 900px)
    max-height: 400px !important
  @media screen and (max-width: 500px)
    max-height: 300px !important
  @media screen and (max-width: 400px)
    max-height: 180px !important

.slick-slide img
  display: block
  max-width: 100%
  line-height: 1
  @media screen and (min-width: 1200px)
    max-height: 600px !important
  @media screen and (max-width: 900px)
    max-height: 400px !important
  @media screen and (max-width: 500px)
    max-height: 300px !important

.slick-list
  padding: 0px 0px !important


.slick-prev
  left: 3% !important
  z-index: 1
  width: 50px
  height: 50px
  border-radius: 8px !important
  background-color: #0066cc !important
  font-weight: bold;
  &:hover
    left: 3% !important
    z-index: 1
    width: 50px
    height: 50px
    border-radius: 8px !important
    background-color: #0066cc !important
    font-weight: bold
.slick-prev:before
  content: '<' !important


.slick-next 
  right: 3% !important
  z-index: 1
  width: 50px
  height: 50px
  border-radius: 8px !important
  background-color: #0066cc !important
  font-weight: bold
  &:hover
    right: 3% !important
    z-index: 1
    width: 50px
    height: 50px
    border-radius: 8px !important
    background-color: #0066cc !important
    font-weight: bold;
.slick-next:before
  content: '>' !important

.slick-dots
  bottom: 60px !important
  @media screen and (max-width: 1300px)
    bottom: -30px !important
  @media screen and (max-width: 1240px)
    bottom: 0px !important
  @media screen and (max-width: 1200px)
    bottom: 140px !important
  @media screen and (max-width: 1100px)
    bottom: 120px !important
  @media screen and (max-width: 1000px)
    bottom: 140px !important
  @media screen and (max-width: 900px)
    bottom: 70px !important
  @media screen and (max-width: 800px)
    bottom: 120px !important
  @media screen and (max-width: 700px)
    bottom: 150px !important
  @media screen and (max-width: 600px)
    bottom: 190px !important
  @media screen and (max-width: 500px)
    bottom: 130px !important
  @media screen and (max-width: 460px)
    bottom: 140px !important
  @media screen and (max-width: 400px)
    bottom: 40px !important


  .slick-active
    background-color: #0066cc !important
  li
    background-color: #fff;
    border-radius: 50% !important
    width: 15px;
    height: 15px;
    @media screen and (max-width: 450px)
      width: 10px !important
      height: 10px !important
    button:before
      color: #fff0 !important

 .slick-arrow
  @media screen and (max-width: 1000px)
    display: none !important