.ext-home-multiforum
  @import './cover/styles'
  @import './steps/styles'
  @import './feed/styles'
  @import './noticias/styles'

  .section-title
    display: inline-block
    margin: 0 0 1em
    padding: 8px 10px
    font-size: 14px
    color: #fff
    font-weight: 400
    background-color: #f7941d

  .section-subtitle
    margin-top: 0
    font-size: 24px
    font-weight: 400
    color: #4f5353

  .info
    padding: 0 0 0px
    display: flex
    flex-direction: column
    align-items: center
    background-repeat: repeat-x
    background-position: bottom
    background-size: auto 200px
    position: relative

  .action
    width: 100%
    display: flex
    justify-content: center
    padding: 50px 15px 70px
    position: relative

    &:nth-child(odd)
      background-color: #f7f7f7

    .action-content
      max-width: 677px
      display: flex
      flex-direction: column
      justify-content: space-around
      flex: 1

    h3
      color: #0066cc
      margin: 9px 0
      font-size: 40px
      font-weight: 400

    h4
      color: #0066cc
      margin: 33px 0 26px
      font-size: 34px
      font-weight: 200

    p
      font-weight: 200
      font-size: 23px
      line-height: 30px
      color: #818181

    a
      align-self: baseline

    .action-img
      display: none
      min-width: 160px
      height: 160px
      margin: 10px 30px 0 0
      background-size: 110px
      background-position: center
      background-repeat: no-repeat
      background-color: #0066cc
      border-radius: 50%
      border: 2px solid #0066cc

      @media screen and (min-width: 501px)
        display: block

  .action-consulta
    .action-img
      background-image: unquote("url('/ext/lib/site/home-multiforum/consultas.svg')")

  .action-ideas
    .action-img
      background-image: unquote("url('/ext/lib/site/home-multiforum/ideas_belgrano.svg')")

  .action-presupuesto
    .action-img
      background-image: unquote("url('/ext/lib/site/home-multiforum/participa.svg')")

  .action-desafio
    .action-img
      background-image: unquote("url('/ext/lib/site/home-multiforum/desafios.svg')")

  .action-voluntariado
    .action-img
      background-image: unquote("url('/ext/lib/site/home-multiforum/voluntariado.svg')")
