.ext-footer
  background: #0066cc
  display: inline-block
  width: 100%
  padding-top: 30px
  padding-bottom: 20px

  .disclaimer
    float: left
    margin-top: 20px

    & > *
      margin: 0
      font-size: 15px
      font-weight: 100
      color: #fff

    p
      a
        color: inherit
        font-weight: inherit

  .spacer
    margin: 0 10px

  .footer-logos
    float: right
    display: flex
    width: 250px

   /* a
      display: inline-block
      margin-left: 20px
      height: 90px
*/
  .democracy
    width: 160px
    background: unquote("url('/ext/lib/site/home-multiforum/democracy-logo.png')")
